body{
    background: rgb(224, 255, 255);
    margin-left:-30px !important;
    text-align: center;
}

header ul{
    text-align: center;
}
header ul li{
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin: 2rem;
}
a{
    text-decoration: none;
    color: rgb(27, 27, 139);
    background:#c1e8f7;
    /*border: solid black 2px;*/
    border-radius: 10px;
    width: 90px;
    display: block;
}

a:hover, a.active{
    color: #c1e8f7;
    background:rgb(27, 27, 139) ;
}

div ul>li{
    list-style: none;
    text-align: center;
    width: 200px;
    margin-left: 45%;
    margin-bottom: 0.5rem;
}

div ul li:nth-child(odd){
    text-align: center;
    background: #aabcc4;
    width: 200px;
}

span ul{
    text-align: center;
}

span ul li{
    text-align: center;
    display: inline-block;
    color: rgb(27, 27, 139);
    background:#c1e8f7;
    margin: 5rem;
    /*border: solid black 2px;*/
    border-radius: 10px;
    width: 150px;
}

span ul li:nth-child(2){
    font-size: 30px;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}